@import url('fonts/Poppins-Regular.ttf');
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto&display=swap');

body{
    font: 15px/1.5 Poppins,sans-serif;
    padding:0;
    margin:0;
    background-color:#f4f4f4;
}

/* global */

.container{
    max-width: 80%;
    margin:auto;
    overflow:hidden;
}

.container-fluid{
    max-width: 90%;
    margin:auto;
    overflow:hidden;
}

header nav{
    width: 100%;
    height: 4rem;
    background-color: #212121;
    color: white;
    z-index: 1;
    position: fixed;
    border-bottom: #c0abab8e .5px solid;
}

header::after{
    content:'';
    height: 100vh;
    width: 100%;
    background-image: url('images/headerBg.jpg');
    background-color: #212121;
    opacity: 0.85;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    border-bottom: #212121 solid 5px;
}

.nav-logo p{
    float: left;
}

.nav-left{
    font-size: 1rem;
    float: right;
}
.nav-left li{
    display: inline-block;
    margin: 0 .8rem;
}

.nav-left li a{
    letter-spacing: 0.05rem;
    text-decoration: none;
    color: #ffffff;
    padding-bottom: 5px;
}

.nav-left li a:hover{
    border-bottom: #f4f4f4 1px solid;    
}

.bg-content{
    position: absolute;
    width: 60%;
    top: 3.5rem;
    left:30rem;
    z-index: 1;
    color: #f4f4f4;
    letter-spacing: 0.125rem !important;   
    word-wrap: break-word;
}

.bg-content p{
    font-size: 1.5rem;
    opacity: 0.95;
    float:right;
}

.bg-content h2{
    float:right;
    text-align: right;
    font-size: 5.5rem;
    margin: 0;
    padding: 0;
    opacity: .90;
    letter-spacing: 0.325rem !important;
}

.bg-content hr{
    float: right;
    background-color: white;
    height: 20px;
    width: 20%;
}

.about .header h3{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 0;
}

.about .header hr{
    width: 30%;
    height: 3px;
    background-color: goldenrod;    
}

.grid-2{
    display:grid;
    grid-template-columns: repeat(2, 1fr)
}

.grid-2 .about-image img{
    height: 400px;
    width: 400px;
    border-radius: 50%;
}


.grid-4{
    display:grid;
    grid-template-columns:repeat(4, 1fr);
    grid-gap: 70px;
    margin-left: 30px;
    padding-top: 20px;
}

.grid-4 div p{
    text-align: center;
    font-weight: 600
}

.grid-4 div img{
    width: 200px;
    height:200px;
}